*{
    background-color: #d4d48a;text-align:center
  }
  
  h1{color: white;text-align:center;
  }
  img {
    width: 24%;
  }
  
  p{
    color: #0d9445;
    img {
      width: 1%;;
    }
  k{
    align:center
      }
    
